* {
    scroll-behavior: smooth;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Cormorant Garamond', serif;
	color: #775144;
}
body > .navbar {
	background-color: #BEA8A7 !important;
}
body #big-content {
	background-color: #F4DBD8;
	min-height: 80vh;
}
body #footer {
	background-color: #BEA8A7;
}
body #footer * {
	color: black;
}
.card {
	background-color: #F4DBD8;
}
.btn-primary {
	background-color: #775144;
	color: #F4DBD8;
	border: 0;
	border-bottom: 3px solid #BEA8A7;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #BEA8A7;
	border-bottom: 3px solid #775144;
	color: #775144;
}
.card-img-top {
    height: 200px;
}
.hidden {
	display: none;
}
#add_loft i {
	color: #F4DBD8;
}
#add_loft i:hover {
	color: #775144;
}