* {
    scroll-behavior: smooth;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Cormorant Garamond', serif;
	color: #775144;
}
body > .navbar {
	background-color: #BEA8A7 !important;
}
body > #big-content {
	background-color: #F4DBD8;
	min-height: 80vh;
}
body > #footer {
	background-color: #BEA8A7;
}
body #footer * {
	color: black;
}
.card {
	background-color: #F4DBD8;
}